<!DOCTYPE html>
<html>
  <head>
    <title>HASI.ro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  Hello, this is personal website
  </header>
  <nav>
  <%= link_to 'Home', articles_path %>
  </nav>
  <section>
    <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</section>

    <%= yield %>

    <footer>
<p align = "right"> Copyright HASI 2018 </p>
</footer>
  </body>
</html>
